<div class="container">
  <h1><%= t('services.edit.edit.title') %></h1>

  <%= render 'form', service: @service %>

  <%= link_to t('services.edit.edit.actions.back'), services_path, class: 'btn btn-secondary mt-3' %>
</div>
