<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

<!--  <p>-->
<!--    <strong>Email :</strong>-->
    <%#= user.email %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Digest:</strong>-->
    <%#= user.digest %>
<!--  </p>-->

</div>
