<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @user %>

<!--<div>-->
<!--  <%#= link_to "Edit this user", edit_user_path(@user) %> |-->
  <%#= link_to "Back to users", users_path %>

  <%#= button_to "Destroy this user", @user, method: :delete %>
<!--</div>-->

<h1>Личный кабинет</h1>

<div class="user-profile">
  <h2>Персональные данные</h2>
  <p><strong>Имя:</strong> <%= @user.username %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <!-- Другие персональные данные -->

  <!-- Блок с предложением связать аккаунт с Telegram -->
  <% if @telegram_bot_link %>
    <div class="alert alert-info mt-3">
      <strong>Свяжите свой аккаунт с Telegram!</strong>
      Для упрощения взаимодействия с нами, пожалуйста, перейдите по следующей ссылке:
      <%= link_to 'Связать аккаунт с Telegram', @telegram_bot_link, target: '_blank' %>
    </div>
  <% end %>

<!--  <h2>История приемов</h2>-->
  <%#= render 'appointments/list', appointments: @user.appointments %>
</div>
