<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= doctor.specialty %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

</div>

