<!--<h1>Editing doctor</h1>-->

<%#= render "form", doctor: @doctor %>

<!--<br>-->

<!--<div>-->
<!--  <%#= link_to "Show this doctor", @doctor %> |-->
  <%#= link_to "Back to doctors", doctors_path %>
<!--</div>-->

<%#= form.submit @doctor.new_record? ? "Добавить" : "Обновить", class: 'btn btn-success' %>

<%#= link_to 'Назад', doctors_path, class: 'btn btn-secondary' %>


<h1>Редактировать информацию о враче</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Назад', doctors_path %>