<% @doctors.each do |doctor| %>
  <div class="card" style="width: 13rem;">
    <% if doctor.image.attached? %>
      <%= image_tag doctor.image, class: "card-img-top", alt: doctor.name %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= doctor.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= doctor.specialty %></h6>
      <a href="<%= doctor_path(doctor) %>" class="btn btn-primary">Подробнее</a>
    </div>
  </div>
<% end %>
