<!--<h1>New doctor</h1>-->

<%#= render "form", doctor: @doctor %>

<!--<br>-->

<!--<div>-->
  <%#= link_to "Back to doctors", doctors_path %>
<!--</div>-->


<%# if @doctor.new_record? %>
<!--  <h1>Добавить нового врача</h1>-->
<%# else %>
<!--  <h1>Редактировать информацию о враче</h1>-->
<%# end %>

<%#= form_with model: @doctor, local: true do |form| %>
<!--  <div class="doctor-form">-->
    <%#= form.label :name, "Имя:" %>
    <%#= form.text_field :name %>

    <%#= form.label :specialty, "Специальность:" %>
    <%#= form.text_field :specialty %>

    <%#= form.label :phone, "Телефон:" %>
    <%#= form.telephone_field :phone %>

    <%#= form.submit @doctor.new_record? ? "Добавить" : "Обновить", class: 'btn btn-success' %>
<!--  </div>-->
<%# end %>

<%#= link_to 'Назад', doctors_path, class: 'btn btn-secondary' %>



<h1>Добавить нового врача</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Назад', doctors_path %>