<div id="<%= dom_id appointment %>">
  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor_id %>
  </p>

</div>
