<!-- app/views/appointments/_list.html.erb -->
<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Дата</th>-->
<!--    <th>Время</th>-->
<!--    <th>Врач</th>-->
<!--    <th>Цель визита</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# appointments.each do |appointment| %>
<!--    <tr>-->
<!--      <td><%#= appointment.date %></td>-->
<!--      <td><%#= appointment.time %></td>-->
<!--      <td><%#= appointment.doctor.name %></td>-->
<!--      <td><%#= appointment.purpose %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->



