<!-- app/views/reviews/index.html.erb -->
<h1>Отзывы</h1>

<ul class="list-group">
  <% @reviews.each do |review| %>
    <%= render partial: 'review', locals: { review: review } %>
  <% end %>
</ul>

<%= link_to 'Создать новый отзыв', new_review_path, class: 'btn btn-success' if user_signed_in? %>
