<h1>Review</h1>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>
<%#= link_to 'Delete Review', review_path(@review), method: :delete, data: { confirm: 'Are you sure?' } %>

